#meme-image-container {
  border: rgb(39 , 226 , 148) solid 2px;
  background-color: white;
  width: 500px;
  height: 400px;  
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

#meme-image {  
  width: 500px;
  height: 400px;
}

#meme-text {
  text-align: center;  
  width: 490px;   
  position: absolute;
  top: 370px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.default {
  border: 1px solid;
}

.fire-style {
  border: 3px dashed red;
}

.water-style {
  border: 5px double blue;
}

.earth-style {
  border: 6px groove green;
}

#imgs img {
  border: rgb(127 , 37 , 155) solid 2px;
  width: 100px;
}

