* {
  padding: 0;
  margin: 0;
}

#meme-image-container {
  height: 500px;
  width: 500px;
  border: black solid 1px;
  background-color: white;
}

#meme-image {
  height: 500px;
  width: 500px;
}

#meme-text {}
